{% extends "template_base.html" %}

{% block content %}
<h1>contenido accesorios</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="" method="post">
                <input type="text" name="nombre" class="form-control" placeholder="Nombre del accesorio">
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-6">
            {% for accesorio in accesoriosFront %}
            <li> {{accesorio.nombre}} </li>
            {% endfor %}
        </div>
    </div>
</div>
    

{% endblock %}